.loginCard{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    width: 300px;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    background: #22223B;
    box-shadow: 16px 16px 32px #05052f,
        -16px -16px 32px #434371;
  }

.loginCard div input{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #F2E9E4;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #C9ADA7;
    border-bottom: 2px solid #C9ADA7;
    transition: 0.1s;
}

.loginCard div span{
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #ac8f88;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
}

.loginCard div input:valid~span,
.loginCard div input:focus~span{
    transform: translateX(118px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #313345;
    letter-spacing: 0.2em;
    color: #ac8f88;
    border: 2px;
}

.loginCard div input:valid~.password-span,
.loginCard div input:focus~.password-span{
    transform: translateX(133px) translateY(-15px);
}

.loginCard div input:valid~.email-span,
.loginCard div input:focus~.email-span{
    transform: translateX(293px) translateY(-15px);
}

.loginCard div input:valid, input:focus{
    border: 2px solid #C9ADA7;

}

.loginCard button{
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #C9ADA7;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    color: #F2E9E4;
}

.loginCard button:hover{
    background-color: #4A4E69;
    color: #C9ADA7;
}
